body {
  margin:0;
  background-color: #ffffff;
  color: #000000;
  /* font!!!!!!!!!!!!!!! */
}

.dark-mode {
  background-color: black;
  color: white;
}

ul { /*  center the navbar   */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgray;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: lightgray;
}

#home{
  padding:200px;
  margin-top:30px;
  height:440px;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position-x: 1110px;
  background-position-y: 10px;
}

#education{
  padding:200px;
  margin-top:30px;
  height:440px;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position-x: 1110px;
  background-position-y: 10px;
}

#contact{
  padding:200px;
  margin-top:30px;
  height:440px;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position-x: 1110px;
  background-position-y: 10px;
}

#lc{
  padding:200px;
  margin-top:30px;
  height:440px;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position-x: 1110px;
  background-position-y: 10px;
}

#ai{
  padding:200px;
  margin-top:30px;
  height:440px;
  background-image: url(../img/d.png);
  background-repeat: no-repeat;
  background-size: 350px 350px;
  background-position-x: 1110px;
  background-position-y: 10px;
}

button{
  width: 52px;
  height: 52px;
  vertical-align: middle;
  background-color: transparent;
  border-style: none;
}


.box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: purple;
  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  0% {
    left: 0;
    bottom: 50px; /* or any value that's outside the visible area */
  }
  100% {
    left: calc(100% - 50px);
    bottom: 0;
  }
}